##1.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [ ]:
def is_symmetrical(n):
  if str(n) == str(n)[::-1]:
    return True
  else:
    False
is_symmetrical(9939)

##2.Given a string of numbers separated by a comma and space, return the product of the numbers.

In [ ]:
def multiply_nums(st):
  mul = 1
  for i in st.split(","):
    mul *= int(i.strip())
  return mul
multiply_nums("1, 2, 3, 4")

24

##3.Create a function that squares every digit of a number.

In [ ]:
def square_digits(n):
  op = ''
  for i in str(n):
    a = int(i) * int(i)
    op += str(a)
  return int(op)

square_digits(22)

44

##4.Create a function that sorts a list and removes all duplicate items from it.

In [ ]:
def setify(l):
  l.sort()
  a= set(l)
  return a
setify([3, 3, 3, 2, 1])

{1, 2, 3}

##5.Create a function that returns the mean of all digits.

In [ ]:
def mean(n):
  avg = 0
  for i in str(n):
    avg += int(i)
  avg /= len(str(n))
  return avg
mean(666)

6.0