##1.Write a Python program to find sum of elements in list?

In [ ]:
l = [1,2,3,4,5,6,7]
sum = 0
for i in l:
  sum +=i
print("Sum: ",sum)

Sum:  28

##2.Write a Python program to  Multiply all numbers in the list?

In [ ]:
l = [1,2,3,4,5,6,7]
mul = 1
for i in l:
  mul *= i
print("Result: ",mul)

Result:  5040

##3.Write a Python program to find smallest number in a list?

In [ ]:
l = [1,2,3,4,5,6,7,0]
small = l[0]
for i in l:
  if i < small:
    small = i
print("Smallest: ",small)

Smallest:  0

##4.Write a Python program to find largest number in a list?

In [ ]:
l = [1,2,3,4,5,6,7,0]
large = l[0]
for i in l:
  if i > large:
    large = i
print("Largest: ",large)

Smallest:  7

##5.Write a Python program to find second largest number in a list?

In [ ]:
l = [1,2,3,4,5,6,7,0]
l.sort()
print("2nd largest: ",l[-2])

Smallest:  6

##6.Write a Python program to find N largest elements from a list?

In [6]:
l = [1,2,3,4,5,6,7,0]
n = 2
largest = []
for i in range(n):
  large = l[0]
  for j in l:
    if j > large:
      large = j
  l.remove(large)
  largest.append(large)
print(largest)

[7, 6]

##7.Write a Python program to print even numbers in a list?

In [ ]:
l = [1,2,3,4,5,6,7,0]
for i in l:
  if i%2 == 0:
    print(i)

2
4
6
0

##8.Write a Python program to print odd numbers in a List?

In [ ]:
l = [1,2,3,4,5,6,7,0]
for i in l:
  if i%2 != 0:
    print(i)

1
3
5
7

##9.Write a Python program to Remove empty List from List?

In [ ]:
l = [1,2,[2,3],[],[],[34],[]]
i = 0
while i < len(l):
  if type(l[i]) == list:
    if len(l[i]) == 0:
      l.remove(l[i])
      continue
  i += 1
print(l)

[1, 2, [2, 3], [34]]

##10.Write a Python program to Cloning or Copying a list?

In [1]:
l1 = [1,2,3,4,5,6,7,0]
l2 = l1
print(l2)

[1, 2, 3, 4, 5, 6, 7, 0]

##11.Write a Python program to Count occurrences of an element in a list?

In [ ]:
l1 = [1,2,3,4,5,6,7,5,4,3,6,0]
a = {}
for i in l1:
  if i in a.keys():
    a[i] = a[i] + 1
  else:
    a[i] = 1

print(a)

{1: 1, 2: 1, 3: 2, 4: 2, 5: 2, 6: 2, 7: 1, 0: 1}