##1.Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

In [ ]:
def filter_list(l):
  return [i for i in l if type(i)==int]
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

##2.Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

In [ ]:
def add_indexes(l):
  return [v+i for i, v in enumerate(l)]
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

##3.Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [ ]:
import numpy as np
def cone_volume(h, r):
  a = (np.pi * r * r * h) / 3
  return np.round(a, 2)
cone_volume(15, 6)

565.49

##4.This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
##1, 3, 6, 10, 15
##This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
##Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [3]:
def triangle(n):
  a = 0
  for i in range(1, n+1):
    a += i
  return a
triangle(5)

15

##5.Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [ ]:
def missing_num(l):
  for i in range(1,11):
    if i not in l:
      return i

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10